.review .card{
    border: 0;
}
.review .card-header{
    border: 0;
    background-color: transparent;
}
.review .card:hover{
    background-image: linear-gradient(75deg, #d1a0e7,#d1a0e7);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}
.review .card-body{
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
}
.review .card:hover h6,
.review .card:hover p
{
    color: #fff !important;

}
.review .card:hover img{
    display: none;
    
}