.header-container {
    position:relative;
    /* height: 600px; */
    background-image: url('../../../foodImages/BGI.png');

    background-size: cover;
    
     
}
.header-container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    /* background-color:#636aac; */
    z-index: -50;
}